<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" contents="width=device-width,
        initial-scale=1.0">
        <title>Upload</title>
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container mt-4">
            <h2 class="text-center alert alert-danger">Machine Marathon Using SKlearn</h2>
            
            <!-- <div class="container"> -->
                
                    <!-- <div class="col-sm-4"></div> -->
                    {% block content %}
                        <form method='post'  action="/" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <label for="inputGroupFile04">Enter CSV:</label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="inputGroupFile02" name="myfile" required>
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text col-sm-2" for="inputGroupSelect01" >Options</label>
                                <select class="form-select col-sm-10" id="inputGroupSelect01" name="dropdown" >
                                  <option selected value="0">Select Your Model</option>
                                  <option value="1">Linear Regression</option>
                                  <option value="2">Logistic Regression</option>
                                  <option value="3">Random Forest Classification</option>
                                </select>
                              </div>
                                
                              <div class="col-md-8 offset-md-3">
                                <button type="submit" class="btn btn-success col-sm-4">Submit</button>
                                <a class="btn btn-danger col-sm-4" href="/upload">Reset</a>
                              </div>
                              
                        </form>
                        {% endblock content %}
                        
        </div>
        <script src="{% static '/js/jquery.js' %}"></script>
        <script src="{% static '/js/popper.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
    </body>
</html>